.answers {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--answer-background);
  border-radius: 39px;
  margin: 12px 0;
}

.answer-section {
  display: flex;
  justify-content: center;
  border-radius: 100px;
}

.answer-input {
  display: none;
}

.answer-section-3input {
  display: flex;
  justify-content: center;
  width: 30%;
  border-radius: 100px;
  overflow-wrap: break-word;
}

.answer-input:checked + label{
  background-color: var(--answer-background);
  color: var(--answer-text);
}

.answer {
  font-size: 18px;
  padding: 21px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 650px) {
  .answer {
    font-size: 24px;
  }
}