.quiz-wrapper {
  background: var(--background-gradient);
  width: 100vw;
  height: 100vh;
  font-family: 'Mulish', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}

.question {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.result {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 28px;
}

.question-toggle {
  margin-top: 10px;
  background: none;
  border: none;
  font-family: 'Mulish', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

.question-sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-btn {
  cursor: pointer;
  transition-duration: 200ms;
}

.close-btn:hover {
  transform: scale(125%);
}

.question-sidebar {
  position: absolute;
  height: 100%;
  background-color: black;
  opacity: 50%;
  padding-top: 50px;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.question-item {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  margin: 10px 0;
}


@media (min-width: 450px) {
  .quiz-container {
    max-width: 900px;
    max-height: 80px;
    width: 70%;
  }
}

@media (min-width: 650px) {
  .result {
    font-size: 32px;
  }

  .question {
    font-size: 40px;
    margin-top: 72px;
    margin-bottom: 50px;
  }
}